

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.0.1">
    <title>Cover Template · Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/cover/">

    <!-- Bootstrap core CSS -->
    <link href="~/css/bootstrap.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

     
    </style>
    <!-- Custom styles for this template -->
    <link href="~/css/cover.css" rel="stylesheet">
</head>
<body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
                <h3 class="masthead-brand">Mcahrt-Admin</h3>
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link active" href="#">Escuela</a>
                    <a class="nav-link" href="#">Preguntas</a>
                    <a class="nav-link" href="#">Usuarios</a>
            
                </nav>
            </div>
        </header>


   
            @RenderBody()
        




        <footer class="mastfoot mt-auto">
            <div class="inner">
                <p>&copy;2020-2024 Mchart-UTM, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a> &middot;    <a href="/Index">Inicio</a></p>
            </div>
        </footer>
    </div>
  


</body>
</html>


