@page
@model P3Intento1.AdminIndexModel
@{
    Layout = "~/Pages/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "AdminIndex";
    @using Microsoft.AspNetCore.Http;

}

<main role="main" class="inner cover">
    <h1 class="cover-heading">Bienvenido al Panel Administrativo</h1>
    <p class="lead">
        Aqui podras administrar las tablas de Escuela & Preguntas & Usuarios
        Tambien pidras general reporte sobre los chicos dando click hacia el boton que esta bajo para que te lleve a la pagina relacionada

    </p>
    <p class="lead">
        <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
    </p>
</main>


