@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<br /><br /><br />

<section class="jumbotron text-center">
    <div class="container">
        <h1>Mchart : Asociacion Atusimo Merida</h1>
        <p class="lead text-muted">Ofrecemos apoyos hacia los niños con autismo,
            podrias acceder a una pagina para  crear una cuenta e tomar una encuesta diagnostica de autismo.
        </p>
        <p>
            <a href="#" class="btn btn-primary my-2">Tomar Encuesta</a>
            @*<a href="#" class="btn btn-secondary my-2">Eres Administrador?</a>*@
        </p>
    </div>
</section>


<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<style>
    #img{
        margin-left:10px;
    }
</style>

<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">

                <img id="img" src="~/img/diag.png" height="140px" width="140px" />
           
            <h2>Diagnostico</h2>


            <p>Aplicación e interpretación de pruebas con el objetivo de encontrar las características que el Manual de Clasificación de los Trastornos Mentales señala para el Trastorno del Espectro Autista</p>


            <p><a class="btn btn-secondary" href="#" role="button">Conoce mas &raquo;</a></p>
        </div><!-- /.col-lg-4 -->




        <div class="col-lg-4">
            <img id="img" src="~/img/taller.png" height="140px" width="140px" /> 
            <h2>Talleres</h2>
            <p>DTalleres teóricos y prácticos para los padres de familia para mejorar el pronóstico de vida. Talleres emocionales. Seguimiento en el área escolar para brindar herramientas al colegio del niño</p>
            <p><a class="btn btn-secondary" href="#" role="button">Conoce mas &raquo;</a></p>
        </div><!-- /.col-lg-4 -->




        <div class="col-lg-4">
            <img id="img" src="~/img/terap.png" height="140px" width="140px" />

            <h2>Terapias</h2>
            <p>
                Brindamos al niño herramientas en las diferentes áreas del desarrollo. Trabajamos en e
                stimular el área de comunicación y lenguaje que podrían afectar a las personas con esta condición traumatico
            </p>
            <p><a class="btn btn-secondary" href="#" role="button">Conoce mas &raquo;</a></p>
        </div><!-- /.col-lg-4 -->



    </div><!-- /.row -->










    <hr class="featurette-divider">





    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It’ll blow your mind.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
            <img id="img" src="~/img/p1.jpg" height="500px" width="500px" />
        </div>
    </div>





    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img id="img" src="~/img/p.jpg" height="450" width="450" />

        </div>
    </div>

    <hr class="featurette-divider">






    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
            <img id="img" src="~/img/p3.jpg" height="500px" width="500px" />

        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

</div><!-- /.container -->